<h2 class="actions__header space --top-l">Chat</h2>

<div
  id="messages"
  class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch"
>
  <div class="chat-message">
    <div class="flex items-end">
      <div
        class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-2 items-start"
      >
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600"
            >Can be verified on any platform using docker</span
          >
        </div>
      </div>
      <img
        src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
        alt="My profile"
        class="w-6 h-6 rounded-full order-1"
      />
    </div>
  </div>
  <div class="chat-message">
    <div class="flex items-end justify-end">
      <div
        class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-1 items-end"
      >
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white"
            >Your error message says permission denied, npm global installs must
            be given root privileges.</span
          >
        </div>
      </div>
      <img
        src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
        alt="My profile"
        class="w-6 h-6 rounded-full order-2"
      />
    </div>
  </div>
  <div class="chat-message">
    <div class="flex items-end">
      <div
        class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-2 items-start"
      >
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >FYI
            <a href="/images/image.jpg" class="text-blue-700 font-bold"
              >JPEG image here</a
            ></span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >Command was run with root privileges. I'm sure about that.</span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >I've update the description so it's more obviously now</span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >FYI
            <a href="/images/test.png" class="text-blue-700 font-bold"
              >PNG image here</a
            ></span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >FYI
            <a href="/documents/test.pdf" class="text-blue-700 font-bold"
              >PDF document here</a
            ></span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600"
            >FYI
            <a href="/videos/demo.mp4" class="text-blue-700 font-bold"
              >MP4 video here</a
            ></span
          >
        </div>
        <div>
          <span
            class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600"
          >
            Check the line above (it ends with a # so, I'm running it as root )
            <pre># npm install -g @vue/devtools</pre>
          </span>
        </div>
      </div>
      <img
        src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
        alt="My profile"
        class="w-6 h-6 rounded-full order-1"
      />
    </div>
  </div>
</div>
