<h2 class="actions__header space --top-l">Sharing</h2>

<div class="actions grid__item --start-1 --span-10">
  <a
    class="actions__item"
    href="https://www.slashfilm.com/1565243/near-perfect-sci-fi-movies-might-have-missed"
  >
    <div class="actions__icon --share" aria-hidden="true"></div>
    Near Perfect Sci-Fi Movies You Might Have Missed
    <p>Tap this link to open up a native share dialog</p>
  </a>
</div>
